@import "tailwindcss";
@theme {
  /* ✅ Font sizes */
  --text-14: 14px;

  /* ✅ Background colors */
  --color-main-bg: #FAFBFB;
  --color-main-dark-bg: #20232A;
  --color-secondary-dark-bg: #33373E;
  --color-light-gray: #F7F7F7;
  --color-half-transparent: rgba(0, 0, 0, 0.5);

  /* ✅ Border widths */
  --border-1: 1px;

  /* ✅ Border colors */
  --color-color: rgba(0, 0, 0, 0.1);

  /* ✅ Widths */
  --size-400: 400px;
  --size-760: 760px;
  --size-780: 780px;
  --size-800: 800px;
  --size-1000: 1000px;
  --size-1200: 1200px;
  --size-1400: 1400px;

  /* ✅ Heights */
  --size-80: 80px;

  /* ✅ Min heights */
  --size-590: 590px;

  /* ✅ Background images */
  --background-hero-pattern: url('public/hero-img.jpg');
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
}
*{
  box-sizing: border-box;
}



